langchain
langchain-openai
langchain-core
langgraph
langgraph-checkpoint-sqlite
firebase-admin
google-cloud-speech
ffmpeg-python
fastapi
uvicorn
python-dotenv
tzdata
jinja2
phonenumbers
langchain_tavily
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
websocket-client
whatsapp-api-client-python
pydantic
cachetools
tiktoken
httpx
langsmith
pytest
pytest-asyncio
